.main {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  justify-content: center;
  row-gap: 3rem;

  .cards {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
  }

  h2 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    justify-self: left;
  }

  .faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;

    summary {
      cursor: pointer;
      justify-self: left;
    }

    summary:hover {
      opacity: 0.8;
    }

  }
}