.button {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  color: white;
  background: #233458 no-repeat;
  cursor: pointer;
}

.button:hover {
  border-radius: 8px;
  background-color: #FFC376;
  color: black;
}