* {
  transition: all .4s;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: url("https://wallpapers.com/images/hd/beautiful-minecraft-forest-with-sun-qcptbp53t8l4phja.jpg") no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.page {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.underline { 
  color: white;
  cursor: pointer;
}

.underline:after {
  display: block;
  padding-bottom: 0.5rem;
  content: '';
  border-bottom: solid 3px #FFC376;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in;
}

.underline:hover:after { 
  transform: scaleX(1); 
}

.underline.fromRight:after{ 
  transform-origin: 100% 50%; 
}

.underline.fromLeft:after { 
  transform-origin:  0% 50%; 
}