html {
  font-size: 62.5%;
}

body {
  max-height: 100vh;
  background-color: #1A1A1A;
}

.page {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 1fr 8fr 1fr;
}

header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}