header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: 100%;

    .header-img:hover {
      cursor: pointer;
      transform: scale(1.3);
    }

    ul {
      display: flex;
      gap: 2rem;
    }

      a,
      button {
        color: white;
        padding: 0.75rem;
        font-weight: bold;
        font-size: 1rem;
      }

      button {
        display: flex;
        align-items: center;
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
        border-radius: 5px;
        border: none;
        color: white;
        background: #233458 no-repeat;
        cursor: pointer;
      }

      a:hover,
      button:hover {
        border-radius: 8px;
        background-color: #FFC376;
        color: black;
      }
}