.header {
  top: 0px;
  position: sticky;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1A1A1A;

    .itemsList {
      display: flex;
      column-gap: 2rem;
  }
}

.headerimg:hover {
  cursor: pointer;
  transform: scale(1.3);
}